.height-100 {
  height: 100vh;
}

.image-background{
  background-image: url("https://source.unsplash.com/collection//1744241/my-first-collection/");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

#view-2, #view-3{
  border-radius:3px;
  border:1px solid white;
  background-color:rgba(0, 0, 0, 0.514); 
  padding: 25px;
}

.height-80 {
  height: 80vh;
}

.icon-weather{
  width: 125px;
  height: 125px;
}
.icons-weather{
  margin-left: 24%;
  width: 170px;
}
